In [21]:
import pandas as pd
import os
import numpy as np

In [22]:
caminho_processed = "../dados/processed"
caminho_gold = "../dados/gold"

In [23]:
pd.set_option('display.float_format', '{:,.2f}'.format)

In [24]:
df_analitico = pd.read_parquet(os.path.join(caminho_gold, "df_gold.parquet"))

df_analitico['kpi_basileia'] = df_analitico['patrimonio_liquido'] / df_analitico['ativo_total']

df_analitico['kpi_roe'] = df_analitico['lucro_liquido'] / df_analitico['patrimonio_liquido']

df_analitico['receita_total_estimada'] = df_analitico['resultado_intermediacao'] + df_analitico['outras_receitas_despesas'] + df_analitico['resultado_pagamentos'].fillna(0)

df_analitico['tamanho_log'] = np.log10(df_analitico['ativo_total'])

df_analitico = df_analitico.replace([np.inf, -np.inf], np.nan)

df_analitico.head()

c:\Users\Thiag\AppData\Local\Programs\Python\Python313\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)

,instituicao,codigo_bacen,conglomerado,tcb,tc,ti,cidade,uf,data_base,ativo_total,...,resultado_intermediacao,resultado_pagamentos,outras_receitas_despesas,resultado_antes_impostos,impostos_ir_csll,participacoes_lucro,kpi_basileia,kpi_roe,receita_total_estimada,tamanho_log
0,BANCO DO BRASIL S.A.,0,BB - PRUDENCIAL,b1,1,1,BRASILIA,DF,2022-12-01,"1,927,604,248.00",...,"58,297,195.00",0.00,"6,287,062.00","21,753,526.00","-2,982,566.00","-2,132,589.00",0.08,0.11,"64,584,257.00",9.29
1,ITAÚ UNIBANCO S.A.,60701190,ITAU - PRUDENCIAL,b1,2,8,SAO PAULO,SP,2022-12-01,"1,621,520,167.00",...,"36,162,795.00",0.00,"4,631,069.00","18,299,359.00","1,334,900.00","-3,690,333.00",0.08,0.12,"40,793,864.00",9.21
2,CAIXA ECONOMICA FEDERAL,360305,CAIXA ECONÔMICA FEDERAL - PRUDENCIAL,b1,1,6,BRASILIA,DF,2022-12-01,"1,585,795,602.00",...,"56,235,680.00",0.00,"8,480,850.00","5,582,178.00","971,396.00","-1,060,139.00",0.05,0.06,"64,716,530.00",9.20
3,BANCO BRADESCO S.A.,60746948,BRADESCO - PRUDENCIAL,b1,2,8,OSASCO,SP,2022-12-01,"1,489,174,462.00",...,"44,706,379.00",0.00,"6,034,638.00","2,897,870.00","3,749,785.00",0.00,0.10,0.04,"50,741,017.00",9.17
4,BANCO SANTANDER (BRASIL) S.A.,90400888,SANTANDER - PRUDENCIAL,b1,3,8,SAO PAULO,SP,2022-12-01,"986,299,576.00",...,"26,385,861.00",0.00,"5,637,941.00","2,602,071.00","2,970,185.00","-990,117.00",0.08,0.06,"32,023,802.00",8.99